@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
  --white: #fff;
  --primary-color: #caf0f8;
  --secondary-color: #292c2f;
  --primary-btn-color: #219ebc;
  --secondary-btn-color: #e9c46a;
  --padding-XXS: 0.5rem;
  --padding-XS: 1rem;
  --padding-S: 1.2rem;
  --padding-M: 1.5rem;
  --padding-L: 2rem;
  --padding-XL: 3rem;
  --gap-S: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--primary-color);
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
}

.header-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-XS);
  background-color: var(--secondary-color);
}

.logo-image {
  height: auto;
  width: 6rem;
}

.container {
  flex-grow: 1;
}

.title {
  text-align: center;
  padding: var(--padding-XS) 0;
  margin-top: 2rem;
  font-size: 48px;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  padding: var(--padding-S);
  gap: var(--gap-S);
}

.card {
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 10rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

.main-footer {
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--white);
  padding: var(--padding-L) 0;
}

.card-info > p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-S);
  padding: var(--padding-M);
}

.primary-button {
  background-color: var(--primary-btn-color);
  color: var(--white);
  text-decoration: none;
  padding: var(--padding-XXS) var(--padding-L);
  border-radius: 0.2rem;
  display: table;
  text-align: center;
}

.primary-button:hover {
  background-color: var(--secondary-btn-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.name-character {
  text-align: center;
  font-weight: bolder;
}

.search-txt {
  border-radius: 0.3rem;
  text-align: center;
  height: 1.2rem;
}

.search-btn {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .logo-image {
    width: 25.3rem;
  }
}
